/* -------- fonts loading -------- */
@font-face {
    font-family: "ballpark";
    src: url("polices/ballpark.eot") format("eot"),
         url("polices/ballpark.ttf") format("truetype"),
         url("polices/ballpark.woff") format("woff"),
         url("polices/ballpark.svg") format("svg");
}

@font-face {
    font-family: "dayrom";
    src: url("polices/dayrom.eot") format("eot"),
         url("polices/dayrom.ttf") format("truetype"),
         url("polices/dayrom.woff") format("woff"),
         url("polices/dayrom.svg") format("svg");
}

/* -------- General formating - <body> Body -------- */
body, html{
    margin:0;
    padding:0;
}

.title {
    font-family: "dayrom", sans-serif;
}

h1 {
    font-family: "ballpark", sans-serif;
    font-weight: normal;
    font-size: xx-large;
    margin: 0;
}

h2 {
    font-family: "dayrom", sans-serif;
    font-weight: normal;
    font-size: large;
    margin: 0;
}

a {
    color: #760001;
}

body {
    font-family: sans-serif;
    color: #181818;

    background-image: url("images/fond_jaune.png");

    display: flex;
    flex-direction: column;
}

/* -------- <header> Header--------*/
nav ul {
    font-family: "dayrom", sans-serif;

    list-style-type: none;

    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}

nav ul a {
    display: block;
    text-align: center;
}

.nav_it {
    text-decoration: none;
    color: #181818;
}

.home {
    color: #760001;

    text-decoration-thickness: 3px;
}


header {
    margin: auto;

    width: 950px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    padding-top: 15px;
}


/* -------- <div> top horizontal line -------- */
.top_hrule {
    background-image: url("images/separateur.png");
    width: 100%;
    height: 3px;
    margin-top: 15px;
}

/* --------- <div> Main container -------- */

/* ---- Splash image div ---- */
.splash_img {

    margin: auto;

    margin-top: 15px;

    width: 950px;
    height: 219px;

    background-image: url("images/sanfrancisco.jpg");

    border-radius: 6px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.strip {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    border-radius: 0px 0px 6px 6px;

    display: flex;
    justify-content: space-between;

    padding: 8px;

    font-size: small;
}

.strip a {
    display: block;
}

.description{
    margin-top: auto;
    margin-bottom: auto;
}

.strip a {
    text-decoration: none;
    color: white;

    width: 130px;
    line-height: 29px;

    background-image: url("images/fond_degraderouge.png");

    border-radius: 6px;

    text-align: center;   
}

.rightwhitearrow {
    display: inline-block;

    width: 7px;
    height: 11px;

    flex-shrink: 0;

    background: url("images/flecheblanchedroite.png") no-repeat;
}

/* ---- General formating - <div> Main container ---- */
.main_container {
    margin: 0;
    padding: 0;

    width: 100%;

    background-color: #f7ebcc;
}

/* ---- <main> Main ---- */
main {
    margin: auto;

    width: 950px;

    display: flex;

    margin-bottom: 10px;
    margin-top: 30px;
}

/* -- <article> Article -- */

.ico_epingle {
    display: inline-block;
    width: 43px;
    height: 47px;
    background: url("images/ico_epingle.png") no-repeat;

    vertical-align: middle;
}

article p {
    font-size: small;
}

p {
    text-align: justify;
    font-size: small;
}

/* -- <div> bulle -- */

.bulle {
    width: 12px;

    flex-shrink: 0;

    background: url("images/bulle.png") no-repeat 0px 140px;
}

/* -- <aside> Aside -- */
aside {
    color: white;
    text-shadow: 1px 1px 1px black;

    width: 300px;
    flex-shrink: 0;

}

aside .sub_container {

    padding: 10px;

    background-color: #6f6a63;

    border-radius: 8px;
}

aside .sub_container img { /* profile picture */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

    box-shadow: 0px 0px 1px  rgba(0, 0, 0, 1);

} 

.social {
    display: flex;
    justify-content: space-between;

    margin-top: 30px;
}

.social a {
    display: block;
    
    width: 42px;
    height: 42px;
}
/* social logo*/
.facebook { background-image: url("images/facebook.png");}
.twitter { background-image: url("images/twitter.png");}
.vimeo { background-image: url("images/vimeo.png");}
.flickr { background-image: url("images/flickr.png");}
.rss { background-image: url("images/rss.png");}


/* -------- <div> Bottom horizontal line -------- */
.bottom_hrule {
    width: 100%;
    height: 30px;
    
    background: url("images/ico_top.png") no-repeat top center,
                url("images/separateur.png") repeat-x,
                url("images/ombre.png") repeat-x 0px 3px;
}

/* -------- <footer> Footer -------- */

/* ---- General formatting - <footer> Footer ---- */
footer {
    margin: auto;

    width: 950px;

    display: flex;

    padding-bottom: 20px;
}

footer section {
    flex: 1;
}

/* ---- my pics <section> ---- */
.pictures {
    margin-top: 10px;
}

.pictures img {
    display: inline-block;
    border: 1px solid black;
}

/* ---- my friends <section> ---- */
.my_friends ul {
    column-count: 2;
    column-gap: 0;    

    margin-top: 10px;

    list-style-image: url('images/ico_liensexterne.png');
    list-style-position: inside;
    padding: 0;

    font-size: small;
}


.my_friends a {
    text-decoration: none;
    color: #760001;
}